@font-face {
  font-family: roboto;
  src: url(./fonts/Roboto_Condensed-Regular.ttf);
}

p, a, h1, h2, h3 {
    font-family: roboto;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav div {
    display: flex;
    gap: 1rem;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #6d6d6d;
}

button {
    border: none;
    background: none;
}

a {
    color: #000;
    text-decoration: none;
}
.serie-cover {
    width: 20rem;
}

.single-author-image {
    object-fit: cover;
    width: 20rem;
    max-height: 25rem;
    border: solid #000 3px;
}

.single-review {
    padding: 1rem;
    border: solid #000 1px;
    margin-bottom: 1rem;
}

.disconnect:hover {
    cursor: pointer;
}

.pp-container {
    width: 5rem;
    height: 5rem;
}
.profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 40% 0%;
    border-radius: 50px;
}

.dislike-div, .like-div {
    display: flex;
    gap: 1rem;
}